html
    head
        link(rel="icon", type="image/x-icon", href="/responses/favicon.ico")
        
        title  #{__("Bad request")}
        
        link(href="/responses/style.css",rel="stylesheet")
    body    
        div(class="container")
            div(class="item")
                div(class="entry")
                    h1 400 - #{__("Bad request")}
                    div #{__(error.message)}