html
    head
        title  #{__("All ok")}
        
        link(href="/responses/style.css",rel="stylesheet")
    body    
        div(class="container")
            div(class="item")
                div(class="entry")
                    h1 200 - #{__("All ok")}